.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 16px;
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
