.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  max-width: 700px;
  height: 100vh;
}
