.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.primary {
  background-color: #33750a;
}

.secondary {
  background-color: #c32929;
}
