.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 100%;
  height: 40px;

  &.disabled,
  &.read-only {
    background-color: #f3f3f3;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;

    &:disabled,
    &:read-only {
      background-color: #f3f3f3;
    }
  }
}
