.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: left;
  padding: 16px;
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.image {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.price {
  font-size: 14px;
  font-weight: 400;
}
