.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin-top: 36px;
}

.content {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  label {
    font-size: 24px;
    font-weight: 600;
  }

  .description {
    font-size: 14px;
    font-weight: 400;

    label {
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.price {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  label {
    font-size: 18px;
    font-weight: 600;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
