.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin: 36px auto;
  max-width: 800px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
}

.products {
  display: flex;
  gap: 16px;
  padding: 16px;
}
