.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;

  label {
    font-size: 14px;
    font-weight: 400;
  }
}
